{% extends 'front/base.html' %}
{% block content %}

<div class="bg-yellow-100">
    
<form action = "/search" method = "get" class="flex justify-center rounded-lg p-6">
        <input type = "text" name = "q" placeholder = "Recherche" class="">
        <button type = "submit" class="">🔎</button>
    </form>  


<section class="grid grid-cols-3 grid-rows-2 gap-3 p-8">
    
        {% for Produit in Produits %}

        <section class="rounded-md p-6  bg-yellow-200 border-2 border-yellow-600" >
                <p class="flex justify-center">Photo du miel</p>
                <h2 class="flex justify-center">{{Produit["nom"]}}</h2> 
                <hr> 
                <p class="flex justify-center">{{Produit["prix"]}}€</p>
                <p> crée par {{Produit["api"]}}</p>
            </section>
            {% endfor %}

</section>
</div>

{%endblock%}









