{% extends 'front/base.html' %}
{% block content %}

<div class="bg-yellow-100">
    
<form action = "/search" method = "get" class="flex justify-center rounded-lg p-6">
        <input type = "text" name = "q" placeholder = "Recherche" class="">
        <button type = "submit" class="">🔎</button>
    </form>  


<section class="grid grid-cols-3 grid-rows-2 gap-3 p-8">
    
        {% for Apiculteurs in Apiculteur %}

             <section class="rounded-md p-6  bg-yellow-300">
                 <img scr="{Apiculteur.image}" class="flex justify-center"> <img>
                <hr> 
                <h2 class="flex justify-center">{{Apiculteurs["nom"]}}</h2>
                <p>{{Apiculteurs["contact"]}}</p>
            </section>

            {%endfor%}

</section>
</div>

{%endblock%}