{% extends 'front/base.html' %}
{% block content %}


<main>
    <div class="flex-justify-center p-8 rounded-lg bg-yellow-50">
        <div class="bg-yellow-100 rounded-lg">
            <section class="grid grid-cols-0 grid-rows-3">

            <section class="flex justify-left font-bold font-serif text-3xl p-8">
                <h1>{{ Produit.nom }}</h1>
            </section>
            
            
            <section class="flex justify-left font-bold font-serif text-l p-8"> </section>

            </section>

        </div>
    </div>





</main>





















{%endblock%}
